body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-sizing: border-box;
}

.header {
  border: 2px solid red;
  background-color: red;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

.contenido {
  display: -webkit-box;
  height: 90vh;
  border: 2px solid green;
  top: 10vh;
}

.myMenu {
  width: 100vw;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* .listTop {
  white-space: nowrap;
} */
.nav-item {
  list-style: none;
}

.nav-link {
  display: block;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.py-100 {
  /* padding-top: 30vh;
  padding-bottom: 30vh; */
  border: 1px solid;
}

/* .mb-100 {
  list-style: none;
  margin-bottom: 200px;
} */

.text-danger {
  border-bottom: 2px solid red;
}
