body {
  margin: 0;
  padding: 0;
}

.main {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.header {
  height: 10vh;
  width: 100vw;
  position: fixed;
}

.contenido {
  /* position: relative; */
  display: -webkit-box;
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  overflow-x: hidden;
  /* display: flex; */
}

.myMenu {
  width: 100vw;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

/* .listTop {
  white-space: nowrap;
} */
/* .nav-item {
  list-style: none;
} */

.nav-link {
  display: block;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.py-100 {
  height: 100%;
}

/* .mb-100 {
  list-style: none;
  margin-bottom: 200px;
} */

.text-danger {
  border-bottom: 2px solid red;
}
