body {
  margin: 0;
  padding: 0;
}

.responsive {
  display: none;
}

.main {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.header {
  box-sizing: border-box;
  height: 10vh;
  width: 100vw;
  position: fixed;
  display: flex;
  padding: 0.25rem;
  align-items: flex-end;
}

.contenido {
  /* position: relative; */
  display: -webkit-box;
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  overflow-x: hidden;
  /* display: flex; */
}

.myMenu {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.icon_gallery {
  height: 100%;
  width: 10%;
}

.nav-link {
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
  color: #61326a;
  font-weight: 600;
}

.text-danger {
  cursor: pointer;
  color: #61326a;
  font-weight: 600;
}

/* .mb-100 {
  list-style: none;
  margin-bottom: 200px;
} */
.py-100 {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .responsive {
    display: block;
    height: 100%;
    width: 100%;
  }
  .content {
    display: none;
  }
}
